<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KinectScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--useLegacyV2RuntimeActivationPolicy="true"-->
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <KinectScan.Properties.Settings>
      <setting name="TriangleRemoveLevel" serializeAs="String">
        <value>0.0024</value>
      </setting>
      <setting name="ReprojectionRotationY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReprojectionTranslationZ" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="ZLimit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="RainbowPeriod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Reprojection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GaussPasses" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="GaussSigma" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShadingMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReprojectionRotationX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReprojectionRotationZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="BufferedFrames" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VideoDistortion" serializeAs="String">
        <value>1053.714|1053.985|650.241|500.252|0.172054|-0.304189|-0.003719|0.001101|1280|1024|640|480</value>
      </setting>
      <setting name="DepthDistortion" serializeAs="String">
        <value>1157.811|1158.642|643.304|502.167|-0.081506|0.161189|-0.001711|0.00022|1280|1024|640|480</value>
      </setting>
      <setting name="MinColoringDepth" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="ReprojectionTranslationX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReprojectionTranslationY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SequenceInterval" serializeAs="String">
        <value>10</value>
      </setting>
    </KinectScan.Properties.Settings>
  </userSettings>
</configuration>
