<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KinectScan.ModuleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="KinectScan.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectScan.ModuleSettings>
            <setting name="BuildModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ModellingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalibrationTableA" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CalibrationTableB" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CalibrationCylinderA" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CalibrationCylinderB" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </KinectScan.ModuleSettings>
        <KinectScan.Settings>
            <setting name="RotationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotationZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranslationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranslationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranslationZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DepthLimit" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="MaxY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SplitPlaneRotation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinY" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="MaxWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxClipRadius" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DepthAvgLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinAvgCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinClipRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Clip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AveragedFrames" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FusionSpacing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinClipY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoreX" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="CoreY" serializeAs="String">
                <value>-0.11</value>
            </setting>
            <setting name="GaussIterations" serializeAs="String">
                <value>0</value>
            </setting>
        </KinectScan.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
